.top-image{
    display: flex;
    background-image: url(computer.PNG);
    background-color: #cccccc;
    width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.top-write{
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.container{
  display: flex;
  text-align: center;
  align-items: center;
}

.left-1{
    
    width: 20%;
    font-size: 40px;
    line-height: 75px;

}
.right-1{
  text-align: justify;
    width: 50%;
    font-size: 15px;
    
}
.bottom{

    text-align: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #e7e6e6;
  }
  
  .bottom p {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0px 20px 0px;
  }