.top-image{
    background-image: url(computer.PNG);
    background-color: #cccccc;
    width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.top-write{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.left-1{
    float: left;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    line-height: 75px;

}
.right-1{
    float: right; 
    width: 75%;
    font-size: 15px;
    
}
.bottom{

    text-align: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #e7e6e6;
  }
  
  .bottom p {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0px 20px 0px;
  }