
/* 
.item1-1{
    position: relative;
    display: inline-block;
}

.item1-1:hover:after,
.item1-1:hover >
.hovertext1,
.hovertext1{
    display: inline-block;
}
.item1-1:after,
.hovertext1{
    display: none;
}
.item1-1:after{
content: '';
position: absolute;
background: rgba(0, 0, 0, 0.3);
z-index: 10;
}
.item1-1:hover img{
    transform: scale(1.2);
    transition: 1s;
}
.hovertext1 {
    position: relative;
    font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 150px;
  
}
*/

.item1-1{
    position: relative;
}
.hoverimg1{
    display: block;
}
.hovertext1{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50px;
    right:0 ;
    opacity: 0;
    transition: .5s ease;
    font-weight: bold;
}
.item1-1:hover
.hovertext1 {
    opacity: 1;
}

.item1-2{
    position: relative;
}
.hoverimg2{
    display: block;
}
.hovertext2{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50px;
    right:0 ;
    opacity: 0;
    transition: .5s ease;
    font-weight: bold;
}
.item1-2:hover
.hovertext2 {
    opacity: 0.7;
}

.item1-3{
    position: relative;
}
.hoverimg3{
    display: block;
}
.hovertext3{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50px;
    right:0 ;
    opacity: 0;
    transition: .5s ease;
    font-weight: bold;
}
.item1-3:hover
.hovertext3 {
    opacity: 0.7;
}


.item1-4{
    position: relative;
}
.hoverimg4{
    display: block;
}
.hovertext4{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50px;
    right:0 ;
    opacity: 0;
    transition: .5s ease;
    font-weight: bold;
}
.item1-4:hover
.hovertext4 {
    opacity: 0.7;
}

.item1-5{
    position: relative;
}
.hoverimg5{
    display: block;
}
.hovertext5{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50px;
    right:0 ;
    opacity: 0;
    transition: .5s ease;
    font-weight: bold;
}
.item1-5:hover
.hovertext5 {
    opacity: 0.7;
}